body {
    margin: 10px;
    background-color: #ccc;

    header {
        display: flex;
        flex-direction: column;
        align-items: center;

        h1 {
            font-size: 2rem;
        }

        nav {
            margin: 20px;

            a {
                text-decoration: none;
                color: #ccc;
                background-color: #444;
                padding: 10px 20px;
                border-radius: 5px;
                
            }

            a:hover {
                color: #444;
                background-color: #ccc;
                border: 1px solid #444;
            }
        }

        img {
            width: 100%;
            border-radius: 5px;
            
        }
    }
}